.login-container{

    width:100vw;
    height: 100vh;

    background: url("/public/background.png");
    background-repeat: no-repeat;
    background-size:cover;

    display:flex;
    justify-content: center;
    align-items: center;
    
}

.login{
    
    background: white;
    width:400px;
    border-radius: 20px;
    padding: 30px;
    
}